@import 'tailwindcss';
@import 'uniwind';
@import 'heroui-native/styles';
@source './node_modules/heroui-native/lib';

/* Reference: https://v3.heroui.com/docs/native/getting-started/colors#default-theme */

@theme {
    /* Primitive Colors (Do not change between light and dark) */
    --white: oklch(100% 0 0);
    --black: oklch(0% 0 0);
    --snow: oklch(0.9911 0 0);
    --eclipse: oklch(0.2103 0.0059 285.89);

    /* Border */
    --border-width: 1px;
    --field-border-width: 0px;

    /* Base radius */
    --radius: 0.5rem;
    --field-radius: calc(var(--radius) * 1.5);

    /* Opacity */
    --opacity-disabled: 0.5;
}

@layer theme {
    :root {
        @variant light {
            /* Base Colors */
            --background: oklch(0.9702 0 0);
            --foreground: var(--eclipse);

            /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
            --surface: var(--white);
            --surface-foreground: var(--foreground);

            --surface-secondary: oklch(0.9524 0.0013 286.37);
            --surface-secondary-foreground: var(--foreground);

            --surface-tertiary: oklch(0.9373 0.0013 286.37);
            --surface-tertiary-foreground: var(--foreground);

            /* Overlay: Used for floating/overlay components (dialogs, popovers, modals, menus) */
            --overlay: var(--white);
            --overlay-foreground: var(--foreground);

            --muted: oklch(0.5517 0.0138 285.94);

            --default: oklch(94% 0.001 286.375);
            --default-foreground: var(--eclipse);

            --accent: oklch(0.6204 0.195 253.83);
            --accent-foreground: var(--snow);

            /* Form Fields */
            --field-background: var(--white);
            --field-foreground: oklch(0.2103 0.0059 285.89);
            --field-placeholder: var(--muted);
            --field-border: transparent;
            /* no border by default on form fields */

            /* Status Colors */
            --success: oklch(0.7329 0.1935 150.81);
            --success-foreground: var(--eclipse);

            --warning: oklch(0.7819 0.1585 72.33);
            --warning-foreground: var(--eclipse);

            --danger: oklch(0.6532 0.2328 25.74);
            --danger-foreground: var(--snow);

            /* Component Colors */
            --segment: var(--white);
            --segment-foreground: var(--eclipse);

            /* Misc Colors */
            --border: oklch(90% 0.004 286.32);
            --separator: oklch(74% 0.004 286.32);
            --focus: var(--accent);
            --link: var(--foreground);

            /* Shadows */
            --surface-shadow:
                0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
                0 0 1px 0 rgba(0, 0, 0, 0.06);
            --overlay-shadow:
                0 2px 8px 0 rgba(0, 0, 0, 0.02), 0 -6px 12px 0 rgba(0, 0, 0, 0.01),
                0 14px 28px 0 rgba(0, 0, 0, 0.03);
            --field-shadow:
                0 2px 4px 0 rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.06),
                0 0 1px 0 rgba(0, 0, 0, 0.06);
        }

        @variant dark {
            /* Base Colors */
            --background: oklch(12% 0.005 285.823);
            --foreground: var(--snow);

            /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
            --surface: oklch(0.2103 0.0059 285.89);
            --surface-foreground: var(--foreground);

            --surface-secondary: oklch(0.257 0.0037 286.14);
            --surface-secondary-foreground: var(--foreground);

            --surface-tertiary: oklch(0.2721 0.0024 247.91);
            --surface-tertiary-foreground: var(--foreground);

            /* Overlay: Used for floating/overlay components (dialogs, popovers, modals, menus) - lighter for contrast */
            --overlay: oklch(0.2103 0.0059 285.89);
            --overlay-foreground: var(--foreground);

            --muted: oklch(70.5% 0.015 286.067);

            --default: oklch(27.4% 0.006 286.033);
            --default-foreground: var(--snow);

            --accent: oklch(0.6204 0.195 253.83);
            --accent-foreground: var(--snow);

            /* Form Field Defaults - Colors (only the ones that are different from light theme) */
            --field-background: oklch(0.2103 0.0059 285.89);
            --field-foreground: var(--foreground);
            --field-placeholder: var(--muted);
            --field-border: transparent;
            /* no border by default on form fields */

            /* Status Colors */
            --success: oklch(0.7329 0.1935 150.81);
            --success-foreground: var(--eclipse);

            --warning: oklch(0.8203 0.1388 76.34);
            --warning-foreground: var(--eclipse);

            --danger: oklch(0.594 0.1967 24.63);
            --danger-foreground: var(--snow);

            /* Component Colors */
            --segment: oklch(0.3964 0.01 285.93);
            --segment-foreground: var(--foreground);

            /* Misc Colors */
            --border: oklch(28% 0.006 286.033);
            --separator: oklch(40% 0.006 286.033);
            --focus: var(--accent);
            --link: var(--foreground);

            /* Shadows */
            --surface-shadow: 0 0 0 0 transparent inset;
            /* No shadow on dark mode */
            --overlay-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.2) inset;
            --field-shadow: 0 0 0 0 transparent inset;
            /* Transparent shadow to allow ring utilities to work */
        }
    }
}